.h1 {
  font-size: 60px;
  line-height: 70px;
}

.h2 {
  font-size: 44px;
  line-height: 55px;
}

.h3 {
  
}

@media screen and (max-width: 1269px) {
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}